# Flask Configuration
FLASK_APP=run.py
FLASK_DEBUG=True
PORT=8080

# ESP32 Configuration
ESP_IP=192.168.4.1
POLL_INTERVAL=2

# Application Settings
DATA_DIR=data
COMPETITION_DATA_DIR=data/competitions
FLUSH_EVERY=5
